.container {
    color: var(--text);
    display: flex;
    justify-content: center;
    gap: 50px;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.row1 {
  margin-left: -80px;
}

.row2 {
  margin-left: 50px;
}

.row3 {
  margin-left: -30px;
}

.row4 {
  margin-left: -20px;
}

.letter-display {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: visible;
}

.letter {
  display: inline-block;
  border-radius: 16px;
  border: 2px solid #e5e5e5;
  border-bottom: 4px solid #e5e5e5;
  margin: 10px;
  padding: 32px;
  font-size: 32px;
}

.letter.active {
  /* background-color: #60E100; */
  border: 2px solid #60E100;
  border-bottom: 4px solid #60E100;
  transition: all 0.1s ease-in;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.key {
    background-color: var(--border);
  /* display: inline;
  margin-right: 0.2rem; 
  min-width: 100%; */
  /* opacity: 50%; */
  display: inline-flex;
  border-radius: 8px;
  margin: 5px;
  padding: 12px 16px;
  transition: all 0.1s;
  text-align: center;
}

.active {
    background-color: red;
}

.white {
    opacity: 70%;
    color: white;
}

.mistakeTextContainer {
    width: 100%;
    display: flex;
}

.mistakeCount {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

