:root {
    --pinky-left: #ec8494;
    --ring-left: #e8bb94;
    --middle-left: #8ac0d2;
    --index-left: #8be18b;
    --index-right: #B19CD9;
    --middle-right: #FFD6A5;
    --ring-right: #F0E68C;
    --pinky-right: #FFA07A;
    --thumb-left: #AFEEEE;
    --dark-background: #11111b;
    --light-background: #1e1e2e;
    --border: #313244;
    --text: #cdd6f4;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark-background);
}

button {
  background-color: var(--border);
  border: 1px solid var(--border);
  color: var(--text);
}


button:hover {
  cursor: pointer;
}

input {
    color: var(--text);
    background-color: var(--border);
    border: 2px solid var(--border);
    border-radius: 5px;
}

p {
  color: var(--text);
}
