body {
  background-color: var(--dark-background);
}

.key {
  /* background-color: white;
  display: inline;
  margin-right: 0.2rem; */
  /* min-width: 100%; */
  text-shadow: white 0px 0px 10px;
  display: inline-flex;
  border-radius: 8px;
  color: white;
  margin: 5px;
  padding: 12px 16px;
  transition: all 0.1s;
  text-align: center;
}

.opacity {
  opacity: 50%;
}

.key.active {
  opacity: 100%;
  box-shadow: 3px 3px var(--border);
}

.key.pinky-left {
  background-color: var(--pinky-left); 
}

.key.ring-left {
  background-color: var(--ring-left);
}

.key.middle-left {
  background-color: var(--middle-left); 
}

.key.index-left {
  background-color: var(--index-left); 
}

.key.index-right {
  background-color: var(--index-right); 
}

.key.middle-right {
  background-color: var(--middle-right); 
}

.key.ring-right {
  background-color: var(--ring-right); 
}

.key.pinky-right {
  background-color: var(--pinky-right); 
}

.key.thumb-left {
  background-color: var(--thumb-left); 
}

.letter-display {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: visible;
}

.letter {
  display: inline-block;
  border-radius: 16px;
  border: 2px solid #e5e5e5;
  border-bottom: 4px solid #e5e5e5;
  margin: 10px;
  padding: 32px;
  font-size: 32px;
}

.letter.active {
  /* background-color: #60E100; */
  border: 2px solid #60E100;
  border-bottom: 4px solid #60E100;
  transition: all 0.1s ease-in;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.row1 {
  margin-left: -80px;
}

.row2 {
  margin-left: 50px;
}

.row3 {
  margin-left: -30px;
}

.row4 {
  margin-left: -20px;
}

.square {
  border-radius: 0px;
  width: 10px;
  height: 10px;
  padding: 1px;
  transition: none;
}

.finger {
  font-size: 12px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.finger-container {
  display: flex;
  color: var(--text);
}

.finger-colors-container {
  background-color: var(--light-background);
  border: 2px solid var(--border);
  border-radius: 5px;
  margin-bottom: 0.5rem;
  padding: 0 5px 0 5px;
}

input {
  color: var(--text);
  outline: none;
  border: 1px solid var(--border);
  background-color: var(--light-background);
  box-shadow: none;  
  width: 200px;
}

::placeholder {
  color: var(--text);
}
