.key {
  /* background-color: white;
  display: inline;
  margin-right: 0.2rem; */
  /* min-width: 100%; */
  display: inline-flex;
  border-radius: 8px;
  color: white;
  margin: 5px;
  padding: 12px 16px;
  transition: all 0.1s;
  opacity: 50%;
}

.key.active {
  opacity: 100%;
  box-shadow: 3px 3px #a19a9a;
}

.key.pinky-left {
  background-color: #ec8494; /* pastel pink */
}

.key.ring-left {
  background-color: #e8bb94; /* pastel peach */
}

.key.middle-left {
  background-color: #8ac0d2; /* pastel blue */
}

.key.index-left {
  background-color: #8be18b; /* pastel green */
}

.key.index-right {
  background-color: #B19CD9; /* pastel purple */
}

.key.middle-right {
  background-color: #FFD6A5; /* pastel yellow */
}

.key.ring-right {
  background-color: #F0E68C; /* pastel khaki */
}

.key.pinky-right {
  background-color: #FFA07A; /* pastel salmon */
}

.key.thumb-left {
  background-color: #AFEEEE; /* pastel turquoise */
}

.letter-display {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: visible;
}

.letter {
  display: inline-block;
  border-radius: 16px;
  border: 2px solid #e5e5e5;
  border-bottom: 4px solid #e5e5e5;
  margin: 10px;
  padding: 32px;
  font-size: 32px;
}

.letter.active {
  /* background-color: #60E100; */
  border: 2px solid #60E100;
  border-bottom: 4px solid #60E100;
  transition: all 0.1s ease-in;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#scroll-container {
  border: 2px solid #e5e5e5;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 80%;
  margin: auto;
  font-size: 36pt;
  min-height: 1.25em; /* Adjust this value as needed */
}

#scroll {
  position: relative;
}

#scroll-center {
  color: #60E100;
}

#scroll-left,
#scroll-right {
  display: flex;
  position: absolute;
  top: 0;
}

#scroll-left {
  right: 100%;
}

#scroll-right {
  left: 100%;
}

.display-letter {
  border: 2px solid #e5e5e5;
  width: 1em;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.row1 {
  margin-left: -5%;
}

.row2 {
  margin-left: 5%;
}

.row3 {
  margin-left: -0.7%;
}

.square {
  border-radius: 0px;
  width: 10px;
  height: 10px;
  padding: 1px;
  transition: none;
}

.finger-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

