.dialog {
    width: 500px;
    border: solid 2px var(--border);
    background-color: var(--light-background);
    color: var(--text);
    position: fixed;
    display: inline-block;
}

.dialog select {
    color: var(--text);
    background-color: var(--border);
    border: 2px solid var(--border);
    border-radius: 5px;
}

.dialog button:hover, .dialog select:hover {
    cursor: pointer;
}

.dialog select:focus {
    outline: none;
}

.setting > * {
  display: inline-block;
  margin: 0;
}

.settingName {
    margin-right: 6px;
}

.settingsContainer {
    flex-direction: column;
    height: 100%;
    display: flex;
}

.close {
    display: flex;
    justify-content: flex-end;
}

.close > button {
    color: white;
    border: none;
    background-color: #db2b45;
}



