.container {
    width: 500px;
    background-color: var(--light-background);
    border: 2px solid var(--border);
}

.line {
    height: 20px;
    background-color: #b4befe;
    border-radius: inherit;
    transition: width .2s ease-in;
}