.container {
    color: var(--text);
}

.container {
    margin: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container form {
    padding: 50px;
    background-color: var(--light-background);
    border: 3px solid var(--border);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container p {
    margin-bottom: 0;
}

.container button {
    color: var(--text);
    border: none;
    background-color: var(--border);
    width: 100%;
}

.container input {
  color: var(--text);
  outline: none;
  border: 1px solid var(--border);
  background-color: var(--light-background);
  box-shadow: none;  
  width: 200px;
}